// VARIABLES

// colorbook
$dark: hsla(210, 0, 10, .9);
// $light: hsl(210, 60, 85);
$light: hsl(210, 0, 85);

// fonts
$mono-font: 'Roboto Mono', monospace;
$display-font: 'Special Elite', sans-serif;

// spacing
$main-pad: calc(1rem + 1vw);